<template>
  <div class="board">
    <header class="header">
      <div class="row items-center">
        <h1 class="grow">پروژه‌ها</h1>
        <button>+</button>
      </div>
      <div class="search-box">
        <input type="search">
      </div>
    </header>
    <main>
      <div class="board row" v-for="board in boards" :key="board._id">
        <img src="" alt="">
        <div class="flex-column">
          <h3>{{ board.name }}</h3>
          <span>شما و ۳۲تای دیگه</span>
        </div>
      </div>
    </main>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { fetchBoards, boards } from '@/models/board'

export default defineComponent({
  name: 'Boards',

  setup() {
    return {
      boards,
    }
  },

  created() {
    fetchBoards()
  },
})
</script>
